<!DOCTYPE>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PROGAM MAGAZYNOWY</title>
</head>

<body>

<h2>PROGAM MAGAZYNOWY - Wprowadź do magazynu </h2>

<hr>

<form action="productIn" modelAttribute="product">
    ID produktu: <input type="text"  th:field="*{product.id}" >
    <br><br>
    Ilość : <input type="text"  th:field="*{product.quantity}" >
    <br><br>
    <input type="submit" value="Wprowadź do magazynu "/>
</form>

</body>
</html>